@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Inter:wght@400;600;700&family=Lato:wght@100;300;400&family=Mochiy+Pop+P+One&family=Raleway:ital,wght@0,400;1,100&display=swap');

* {
  box-sizing: border-box;
}

.toolbar {
  display: flex;
  justify-content: space-between;
  width: 375px;
  margin: auto;
}

.logo {
  text-decoration: none;
  width: 90px;
  height: 28px;
  font-family: Inter, sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  color: #28352f;
  flex-grow: 0;
  padding: 10px 0 10px 12px;
}

.btn {
  padding: 8px;
  background: #fff;
}

.btn-tertiary {
  width: 40px;
  height: 40px;
  border: 1px solid #fff;
  padding-right: 24px;
}

.headline {
  background: url(Images/header-illsutration-mobile@2x.svg) 50% 0% no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.headline h1 {
  margin-top: 58px;
}

.primary-text,
.headline h3,
.headline p {
  width: 327px;
  font-family: Inter, sans-serif;
  text-align: center;
  color: #172b4d;
  flex-grow: 0;
  margin: auto;
}

.primary-text,
.headline h3 {
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
}

.headline p {
  height: 164px;
  font-size: 20px;
  line-height: 28px;
  margin-top: 0;
}

.headline h3 {
  display: block;
  color: #36b37f;
  margin-bottom: 58px;
  margin-top: 0;
}

.lets-connect {
  width: 170.17px;
  height: 20px;
  flex-grow: 0;
  margin: 58px 0;
  display: flex;
  gap: 10%;
  justify-content: center;
  align-items: center;
  padding: 0;
}

li {
  list-style: none;
}

.btn-secondary {
  width: 40px;
  height: 40px;
  border-radius: 32px;
  border: 1px solid #dfe1e6;
  margin-bottom: 22px;
}

/* Works Section */

.indicator {
  width: 48px;
  height: 4px;
  background: #36b37e;
  border-radius: 24px;
  margin: 24px auto 0;
}

.grid-container {
  display: grid;
  grid-template-columns: 375px;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-row-gap: 24px;
  justify-content: center;
  align-items: center;
  margin-top: 62px;
}

.item {
  position: relative;
  width: 327px;
  height: 474px;
  background: #ebf0ee;
  border: 1px solid #d0d9d4;
  border-radius: 8px;
  margin-left: 26px;
  margin-right: 22px;
}

.flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 325px;
  height: 222px;
  background: #fff;
  border-radius: 8px;
  position: absolute;
  top: 249px;
  left: calc(50% - 325px / 2);
}

.item h4 {
  width: 295px;
  height: 57px;
  font-family: Inter, sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #3a4a42;
  margin: 16px;
}

.tags {
  display: flex;
  align-items: center;
  gap: 8px;
}

.tags h6 {
  padding: 8px 12px;
  background: #ebf0ee;
  border-radius: 4px;
  font-family: Inter, sans-serif;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: #3a4a42;
  margin: 0;
}

.button {
  padding: 12px;
  width: 122px;
  height: 48px;
  background: #36b37f;
  border-radius: 4px;
  font-family: Inter, sans-serif;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  color: #fff;
  margin-top: 29px;
  text-decoration: none;
}

/* About Myself section */

.about-myself {
  margin: 20px auto 0;
  background: url(Images/about-me-illustration.svg) 50% 0% no-repeat, url("Images/Mask-Group.svg") 60% 0% no-repeat;
  display: flex;
  flex-direction: column;
}

.primary-text-about-myself {
  margin-top: 48px;
}

.button-about-me {
  width: 159px;
  margin: auto;
}

.supporting-text-about-me {
  width: 351px;
  height: 189px;
  font-family: Inter, sans-serif;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  color: #42526e;
  margin: 24px auto;
}

.categories {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  margin-top: 59px;
  margin-bottom: 0;
  padding: 0;
}

.categories h4 {
  width: 337px;
  height: 32px;
  font-family: Inter, sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #344563;
  margin: 24px 0;
}

.about-myself-items {
  width: 327px;
  height: 352px;
  background: #ebf0ee;
  border: 1px solid #c1c7d0;
  border-radius: 8px;
  padding-bottom: 24px;
}

.about-myself-items img {
  margin-top: 40px;
  padding-left: 99px;
}

.tags-about-me {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
  justify-content: center;
}

.tags-about-me h6 {
  padding: 12px;
  color: #36b37e;
  margin: 0;
  background: #fff;
  border-radius: 8px;
  font-family: Inter, sans-serif;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
}

.button:hover {
  box-shadow: 0 8px 16px rgba(54, 179, 127, 0.24);
}

.button:active {
  background: #008552;
}

/* Contact form section */

.form {
  margin: 0 auto;
  width: 375px;
  background: url(Images/Frame.svg) 100% 65% no-repeat;
}

.form h1 {
  width: 327px;
  height: 363px;
  font-family: Inter, sans-serif;
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  color: #172b4d;
  margin: 60px 24px 34px;
}

form {
  display: flex;
  flex-direction: column;
}

input,
textarea {
  background: #fff;
  border: 1px solid #d0d9d4;
  border-radius: 4px;
  font-family: Inter, sans-serif;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
  color: #6b778c;
  height: 48px;
  margin: 24px;
  margin-bottom: 0;
  padding: 15px 16px;
}

textarea {
  width: 327px;
  height: 114px;
  padding: 12px;
  border: 1px solid #60c095;
  color: #091e42;
  margin: 24px;
}

.button-form {
  padding: 12px;
  width: 129px;
  margin: auto;
  margin-bottom: 44px;
}

.lets-connect-footer {
  margin: 0 auto;
}

.my-email {
  width: 375px;
  height: 189px;
  font-family: Inter, sans-serif;
  font-weight: normal;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  color: #42526e;
}

.indicator-footer {
  width: 134px;
  height: 5px;
  background: #0d151e;
  border-radius: 10px;
  margin: 134px 121px 8px 120px;
}
