@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Inter:wght@400;600;700&family=Lato:wght@100;300;400&family=Mochiy+Pop+P+One&family=Raleway:ital,wght@0,400;1,100&display=swap');

html {
  font-family: Inter, sans-serif;
}

.headline {
  background: url(Images/header-illsutration-mobile@2x.svg) 50% 0% no-repeat;
  background-size: 100% 100%;
}

.about-myself {
  background: url("Images/Mask-Group.svg") 100% 0% no-repeat, url("Images/about-me-illustration.svg") 0% 35% no-repeat;
}

/* Desktop Version */

@media screen and (min-width: 540px) {
  .headline {
    background: url("Images/Desktop/Header-llustration-desktop.svg") no-repeat;
    background-size: cover;
  }
}

@media screen and (min-width: 992px) {
  .about-myself {
    background: url(Images/Desktop/illustration-about-me-2-desktop.svg) 0% 20% no-repeat, url("Images/Desktop/illustration-about-me-desktop.svg") 100% 0% no-repeat;
  }
}
